---
import Rankings from './Rankings';
---

<div class="max-w-5xl mx-auto px-4 py-12">
  <div class="mb-8">
    <h1 class="text-2xl font-light text-black">FACEIT Rankings</h1>
  </div>
  
  <div>
    <Rankings client:load />
  </div>
</div>